* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  color: var(--body-color);
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-weight);
}

a {
  text-decoration: none;

  &:not(.a-menu, .c-btn) {
    font-weight: bold;
    color: var(--9roots-orange);
  }
}

button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: 0;
  box-shadow: 0;
}