.c-footer {
  position: relative;
  height: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: auto;
  background-color: rgba(#02738D, 0.7);
  text-align: center;
  color: #fff;

  p {
  }

  .bg-pattern {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: url(../../public/assets/img/pattern.svg); */
    /* background-size: 800px; */
    opacity: 0.2;
  }
}