.c-footer {
  position: relative;
  height: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: auto;
  background-color: rgba(#02738D, 0.7);
  text-align: center;
  color: #fff;

  p {
  }
}