.s-home {
  width: 100%;
  min-height: 100%;
  margin: 0;

  main {
    padding: 140px 0 0 0;

    @media (min-width: 700px) {
      padding: 200px 20px 0 20px;
    }

    @media (min-width: 1000px) {
      padding: 200px 40px 0 40px;
    }
  }

  .container {
    max-width: 1300px;
    margin: 0 auto;
  }
}

.s-home__pattern {
  height: 400px;
  background-color: var(--9roots-blue);
  background-image: url(./public/assets/img/pattern.svg);
  background-repeat: repeat;
}
