.s-home {
  width: 100%;
  min-height: 100%;
  background-color: var(--9roots-white);
  margin: 0;

  main {
    padding: 200px 0 0 0;

    @media (min-width: 700px) {
      padding: 200px 20px 0 20px;
    }

    @media (min-width: 1000px) {
      padding: 200px 40px 0 40px;
    }
  }
}

.s-home__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  margin-top: 10px;

  @media (min-width: 700px) {
    padding: 10px 20px;
  }

  @media (min-width: 900px) {
    padding: 40px 20px;
  }

  h1 {
    flex: 1 1 350px;
    margin: 20px;
    font-size: rem(36px);
    line-height: 1.1;
    color: var(--9roots-blue);

    @media (min-width: 700px) {
      font-size: rem(52px);
    }
  }

  .img-container {
    flex: 1 1 350px;
    height: 70%;
    overflow: hidden;
    margin: 20px;

    @media (min-width: 900px) {
      margin-bottom: 0;
    }

    img {
      width: 100%;
    }
  }

  .section-text {
    flex: 1 1 450px;
    margin: 20px;
  }

  p {
    font-size: rem(18px);
    line-height: 1.8;

    @media (min-width: 700px) {
      font-size: rem(20px);
    }
  }

  &:nth-child(even) {
    flex-direction: row-reverse;
  }

  &:last-child {
    margin-bottom: 40px;
  }
}

.s-home__pattern {
  height: 400px;
  background-color: var(--9roots-blue);
  background-image: url(./public/assets/img/pattern.svg);
  background-repeat: repeat;
}
