.s-producten {
  margin: 0;

  main {
    @media (max-width: 320px) {
      padding: 140px 0 0;
    }

    padding: 200px 20px 20px;

    @media (min-width: 800px) {
      padding: 200px 50px 50px;
    }
  }

  .hero-image {
    margin: 0 auto 80px;
    padding: 0 20px 30px;
    background: #fff;
    width: 100%;
    max-width: 1100px;
    border: 1px solid var(--9roots-light-blue);

    h1 {
      text-align: center;
      margin: 50px 20px 0;
      font-size: rem(32px);
      color: var(--body-color);
    }

    p {
      width: 100%;
      max-width: 750px;
      font-size: rem(16px);
      line-height: 1.8;
      margin: 20px auto 0;

      @media (min-width: 700px) {
        text-align: center;
        font-size: rem(18px);
      }
    }

    .s-producten__img {
      display: block;
      padding-right: 7px;
      width: 100%;
      max-width: 500px;
      margin: 60px auto 60px auto;

      @media (min-width: 800px) {
        padding-right: 50px;
        margin: 60px auto 40px auto;
      }
    }
  }

  .c-section {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    .img-container {
      max-width: 250px;
      margin: 20px;
      flex: 1 1 150px;
    }

    .section-text {
      flex: 1 1 550px;
    }
  }
}